@tailwind base;
@tailwind components;
@tailwind utilities;

/*Temporary*/
body {
    @apply bg-black min-h-screen
}

body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(/assets/images/hatter1.jpg) url(/assets/images/hatter2.jpg) url(/assets/images/hatter3.jpg);
}

/*Header*/
.home header {
    /*background-image: url("http://topotema.test/assets/images/mask.svg"), url("http://topotema.test/assets/images/hatter1.jpg");*/
    background-image: url("/assets/images/mask.svg"), url("/assets/images/hatter1.jpg");
    background-position: 180px top, -100px top;
    background-size: cover, cover;
}
header, body {
    background-repeat: no-repeat, no-repeat;
}

/*Nav*/
.logo {
    @apply w-40 lg:w-48
}
.abtl-logo {
    @apply w-16 lg:w-48;
}

/*Mobile*/
.divider {
    @apply w-full h-px bg-white block mb-4 mt-8 relative lg:hidden;
}
.divider.magnificent::after {
    content: "";
    /*background-image: url("http://topotema.test/assets/svg/show_magnifying.svg");*/
    background-image: url("/assets/svg/show_magnifying.svg");
    @apply bg-black absolute right-8 -top-4 w-12 h-8 block bg-no-repeat bg-center
}

/*Filters*/

    /*Categories*/
    .categories {
        @apply space-y-4 pl-12 lg:ml-0 relative;
    }
    .categories li label span {
        @apply font-bold text-white bg-red-500 inline-block px-4 relative;
    }
    .categories li p.select-all {
        @apply relative mb-3 cursor-pointer;
    }
    .categories li p.select-all::after {
        content: "";
        @apply absolute top-1/2 left-1/2 w-2/5 h-px bg-white -translate-x-1/2 -translate-y-1/2;
    }
    label>input[type=checkbox], label>input[type=radio] {
        display: none;
    }
    label>input[type=checkbox]+:before, label>input[type=radio]+:before,
    .select-all {
        content: "";
        @apply w-4 h-4 translate-y-1/2 top-0 -left-8 absolute inline-block rounded-full border border-white align-bottom;
    }
    label>input[type=checkbox].on+:before, label>input[type=radio].on+:before {
        background: radial-gradient(#ffffff 0,#ffffff 40%,transparent 50%,transparent);
        @apply border-white;
    }

    /*Inputs*/
    .input-filter {
        @apply rounded-full border border-red-500 relative;
    }
    .input-filter input,
    .input-filter button,
    .input-filter p {
        @apply w-full rounded-full bg-black text-white placeholder-white text-center p-1
    }
    .input-filter .input-filter_dropdown {
        @apply absolute bottom-full left-[5%] bg-black border-t border-l border-r border-red-500 text-white w-[90%] rounded-t-lg p-4 z-[400] space-y-2;
    }

@media screen and (min-width: 768px) {
    .home header {
        background-position: 100% top, -250px top;
        background-size: contain, cover;
    }
}

@media screen and (min-width: 1024px) {
    .home header {
        @apply bg-none;
    }
    body.home  {
        background-position: calc(100vw * 0.25) top, left top;
        transition: background-image 1s linear;
        background-size: cover, contain;

        /*background-image: url("http://topotema.test/assets/images/mask.svg"), url("http://topotema.test/assets/images/hatter1.jpg");*/
    }
    body.home[data-bg="1"]  {
        /*background-position: calc(100vw * 0.25) top, left top;*/
        /*transition: background-image 1s linear;*/
        /*background-image: url("http://topotema.test/assets/images/mask.svg"), url("http://topotema.test/assets/images/hatter1.jpg");*/
        background-image: url("/assets/images/mask.svg"), url("/assets/images/hatter1.jpg");
    }
    body.home[data-bg="2"]  {
        /*background-image: url("http://topotema.test/assets/images/mask.svg"), url("http://topotema.test/assets/images/hatter2.jpg");*/
        background-image: url("/assets/images/mask.svg"), url("/assets/images/hatter2.jpg");


    }
    body.home[data-bg="3"]  {
        /*background-image: url("http://topotema.test/assets/images/mask.svg"), url("http://topotema.test/assets/images/hatter3.jpg");*/
        background-image: url("/assets/images/mask.svg"), url("/assets/images/hatter3.jpg");
    }
    /*body {*/
    /*    background-image: url("http://topotema.test/assets/images/mask.svg");*/
    /*    background-position: calc(100vw * 0.25) top;*/
    /*}*/
}

/*Object page*/

#folder-files.show {
    @apply max-h-96 py-4 border-t border-b lg:border-0;
}
#pdf-folder p {
    @apply rounded-full border border-red-500  text-white text-center p-1 lg:absolute lg:top-1/2 lg:left-0 lg:-translate-y-1/2 w-full lg:mt-2 lg:border-0 lg:rounded-none;
}
/*.images .swiper-slide img {*/
/*    @apply h-[60vh] lg:h-[300px] w-full object-cover;*/
/*}*/
/*.swiper.images .swiper-slide {*/
/*    width: auto!important;*/
/*}*/
